.breadcrumb__pad {
  padding: 16px 0 !important;
  font-size: 1.4rem;
}
.breadcrumb__pad > li > a {
  color: var(--text-color);
}
.breadcrumb__pad > li > a:hover {
  text-decoration: none;
}
.container-fluid {
  background-color: #f5f5f5;
}
.row__color {
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 5px;
}

.product__img {
  width: 100%;
}
.rating {
  margin-bottom: 7px;
}
.rating-number {
  color: #f53e2d;
  font-size: 1.7rem;
  text-decoration: underline;
}
.rating_star {
  color: #f53e2d;
}
.rating__numer_lrg {
  color: var(--text-color);
  font-size: 1.7rem;
  text-decoration: underline;
  font-weight: 600;
}
.rating__list {
  list-style: none;
  display: inline-flex;
  padding-left: 0;
}
.rating__item {
  position: relative;
  padding: 0 12px;
}

.rating__item-separarte::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  border-left: 1px solid var(--text-color);
  right: -1px;
  top: 2px;
}
.buy-price {
  display: flex;
  margin-bottom: 17px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
}
.quantity-sale {
  position: absolute;
  left: 38%;
  background-color: #f53e2d;
  width: 50px;
  height: 17px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  justify-content: center;
  font-weight: 500;
}

.price {
  position: relative;
}
.old-price {
  color: #92929f;
  font-size: 1.6rem;
  text-decoration: line-through;
}
.new-price {
  color: #f53e2d;
  font-size: 3rem;
}
.quantity-sale__number {
  color: var(--white-color);
  font-weight: 600;
}
.buy-btn {
  margin-bottom: 17px;
}
.buy-btn-lrg {
  background-color: #ffeee8;
  color: #f53e2d;
  min-width: 214px;
  height: 50px;
  font-size: 1.6rem;
  border: none;
  border-radius: 2px;
}
.buy-btn-lrg:hover {
  background-color: #f8eeea;
}
.buy-btn-med {
  height: 50px;
  min-width: 114px;
  color: var(--white-color);
  background-color: #f53e2d;
  font-size: 1.6rem;
  border-radius: 2px;
  border: none;
  margin-left: 10px;
}
.buy-btn-med:hover {
  background-color: #da4133;
}
.protected {
  border-top: 1px solid #f2f2f2;
  padding: 26px 0;
}
.protected img {
  width: 20px;
}
.protected-text {
  color: #757575;
  margin-left: 23px;
}
.share-icon {
  padding: 30px 0px 20px 20px;
  display: flex;
  align-items: center;
}
.share-icon span {
  font-size: 1.6rem;
  color: var(--text-color);
}
.share-icon__mess {
  font-size: 25px;
  padding-left: 5px;
  color: #0384ff;
}
.share-icon__facebook {
  font-size: 25px;
  padding-left: 5px;
  color: #3b5999;
}
.share-icon__pinterest {
  font-size: 25px;
  padding-left: 5px;
  color: #de0217;
}
.share-icon__twitter {
  font-size: 25px;
  padding-left: 5px;
  color: #10c2ff;
}
.product_detail {
  width: 100%;
}
.product_detail span {
  background-color: #fafafa;
  color: var(--text-color);
  display: block;
  padding: 20px;
  font-size: 2.2rem;
  border-radius: 2px;
  text-transform: uppercase;
}
.product_detail p {
  padding: 30px 20px;
  font-size: 1.6rem;
}
